body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.datecard {

  max-width: 600px;
  width: 90%;
  border: 2px #ccc solid;
  background-color: rgba(0, 255, 255, 0.071);
  border-radius: 10px;
  margin: 10px;
  min-height: 70px; 
    
}

.searchpanel {

  max-width: 600px;
  width: 90%;
  border: 2px #ccc solid;
  background-color: rgba(255, 242, 0, 0.071);
  border-radius: 10px;
  margin: 10px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.header {

  max-width: 600px;
  width: 90%;
  border: 2px #ccc solid;
  background-color: rgba(255, 0, 0, 0.071);
  border-radius: 10px;
  margin: 10px;
  min-height: 70px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}